@media screen and (min-width: 1080px) {
    .skillsGrid{
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
        grid-auto-rows: auto;
        height: auto
    }
    .skillsGrid img {
        height: 100px;
        width: 100px;
        
    }
    .skills{
        display: flex;
        flex-direction: column;
        margin-top:-125px;
        margin-left: auto;
        margin-right: auto; 
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .Social .socialIcons {
        margin-left: 600px;
        margin-top: -100px;
        display: inline;
        padding-bottom: var(--sm-spacing);
      }
    .Social .socialIcons::before,
  .Social .socialIcons::after {
    background-color: var(--grey);
    content: "";
    height: 2px;
    width: var(--spacing);
    display: inline-block;
    margin-bottom: 7px;
    margin-right: 10px;
  }    

}

.skills h1{
    color:whitesmoke;
}
.Certification
{
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0.3;
}
